<div class="row">
    <div class="col-lg-6">
        <button type="button" class="btn btn-block btn-primary"><a href="../Usuario/Login" style="color:aliceblue;">Entrar no Sistema</a></button>
    </div>
    <div class="col-lg-6">
        <button type="button" class="btn btn-block btn-success"><a href="../Usuario/Registrar" style="color:aliceblue;">Registrar uma Conta</a></button>
    </div>

</div>