
@{
    ViewData["Title"] = "Menu";
}

<div class="row">
    <a href="../Conta/Index">
        <div class="col-lg-4">
            <img src="~/images/conta.png" width="27%" />
            <h3>Criar conta</h3>
        </div>
    </a>

    <a href="../PlanoConta/Index">
        <div class="col-lg-4">
            <img src="~/images/planocontas.png" width="27%" />
            <h3>Plano de Contas</h3>
        </div>
    </a>

    <a href="../Transacao/Index">
        <div class="col-lg-4">
            <img src="~/images/registrar_transacao.png" width="27%"/>
            <h3>Registrar Tramsação</h3>
        </div>
    </a>
</div>

<br /> <br /> <br />
<div class="row">
    <a href="../Transacao/Extrato">
        <div class="col-lg-4">
            <img src="~/images/extrato.png" width="27%" />
            <h3>Extrato</h3>
        </div>
    </a>

    <a href="../Transacao/Dashboard">
        <div class="col-lg-4">
            <img src="~/images/dashboard.png" width="27%" />
            <h3>Dashboard</h3>
        </div>
    </a>

    <a href="../Home/Ajuda">
        <div class="col-lg-4">
            <img src="~/images/ajuda.png" width="27%" />
            <h3>Ajuda</h3>
        </div>
    </a>
</div>

