@model ContaModel

@{
    ViewData["Title"] = "CriarConta";
}

<h3>CriarConta</h3>


<form asp-controller="Conta" asp-action="CriarConta">

    <div class="form-group">
        <label>Nome:</label>
        <input type="text" class="form-control" asp-for="Nome" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label>Saldo:</label>
        <input type="text" class="form-control" asp-for="Saldo" />
        <span asp-validation-for="Saldo" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-block btn-success">Registrar</button>

</form>

